* {
    margin: 0;
    padding: 0;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  html {
    box-sizing: border-box;
    font-size: 100%;
  }
  
  body {
    background-color: black;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.6;
  }
  
  .navbar {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: GoldenRod;
    padding: 1.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
    height: 10vh;
  }
  
  .navbar-logo,
  .navbar-logo:link,
  .navbar-logo:visited {
    margin-right: auto;
    color: #000000;
    text-decoration: none;
  }
  
  .navbar-logo{
    transition-duration: 0.2s;
    font-weight: bold;
    }
    .navbar-logo:hover{
    font-size: 1.55rem;
    }
  
  .navbar-title:hover {
    color: #ccc;
    transform: scale(1.1);
  }
  
  .navbar-items {
    list-style: none;
    display: flex;
  }
  
  .navbar-item:not(:last-child) {
    margin-right: 2rem;
  }
  
  .navbar-link,
  .navbar-link:link,
  .navbar-link:visited {
    text-decoration: none;
    color: #faf9f9;
    display: inline-block;
    padding-bottom: 0.2rem;
    border-bottom: 1px solid transparent;
    font-size: 1rem;
  }
  
  .navbar-link:hover {
    color: #ccc;
    transform: scale(1.1);
  }
  
  .navbar-link.navbar-link--active {
    padding-bottom: 1px;
    border-bottom: 1px solid #faf9f9;
  }

  #error {
    background-color: rgb(241, 156, 156);
    font-size: 30px;
    position: absolute;
    margin: auto;
    padding: 20px;
    min-height: fit-content;
    width: 50%;
    left: 25%;
    right: 25%;
    margin-top: 10vh;
    text-align: center;
    border: 2px solid black;
    border-radius: 20px;
  }
  #Titulo{
    font-size: 40px;
    color: red;
    font-weight: bolder;
  }

  #boton_reintentar{
    background-color: darkgreen;
    position: absolute;
    border: 2px solid black;
    border-radius: 2vh;
    bottom: 0;
    text-decoration: none;
    color: white;
    padding: 1vh 1vh;
    font-size: 25px;
    transition-duration: 0.2s;
    width: 96%;
    cursor: pointer;
    left: 0;
    right: 0;
    margin: 2%;
}

#boton_reintentar:hover {
    background-color: green;
}