* {
    margin: 0;
    padding: 0;
}
  
*,
*::before,
*::after {
box-sizing: inherit;
}

html {
box-sizing: border-box;
font-size: 100%;
}

body {
background-color: black;
color: white;
font-family: 'Open Sans', sans-serif;
font-weight: 400;
line-height: 1.6;
justify-content: center;
align-items: center;
}

.navbar {
font-size: 1.5rem;
display: flex;
justify-content: center;
align-items: center;
background-color: GoldenRod;
padding: 1.5rem;
box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
height: 10vh;
}

.navbar-logo,
.navbar-logo:link,
.navbar-logo:visited {
margin-right: auto;
color: #000000;
text-decoration: none;
}

.navbar-logo{
transition-duration: 0.2s;
font-weight: bold;
}
.navbar-logo:hover{
font-size: 1.55rem;
}

.navbar-title:hover {
color: #ccc;
transform: scale(1.1);
}

.navbar-items {
list-style: none;
display: flex;
}

.navbar-item:not(:last-child) {
margin-right: 2rem;
}

.navbar-link,
.navbar-link:link,
.navbar-link:visited {
text-decoration: none;
color: #faf9f9;
display: inline-block;
padding-bottom: 0.2rem;
border-bottom: 1px solid transparent;
font-size: 1rem;
}

.navbar-link:hover {
color: #ccc;
transform: scale(1.1);
}

.navbar-link.navbar-link--active {
padding-bottom: 1px;
border-bottom: 1px solid #faf9f9;
}

.content {
    background: goldenrod;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width:450px;
    height:460px;
    border-radius: 20px;
    padding: 30px;
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: block;
}

.button {
    text-align: center;
    background-color: darkslategray;
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    font-size: 25px;
    transition-duration: 0.3s;
    display: block;
    margin: 30px;
    }
    
    .button:hover {
    background-color: gray;
    color: white;
    }
    #sesion{
        color:white;
    }
    #sesion1{
        color:white;
    }
    #sesion-cerrar{
        color:white;
    }
    #registro{
        color: white;
    }

#a_juego {
    visibility: hidden;
}