<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>DNTgames | Jugar</title>
        <link rel="stylesheet" type="text/css" href="../assets/styles/error.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <body>
        <nav class="navbar">
            <a class="navbar-logo" href="../../index.html">DNTgames</a>
            <ul class="navbar-items">
                <li class="navbar-item">
                <a href="../../index.html#nosotros" class="navbar-link navbar-link">Nosotros</a>
                </li>
                <li class="navbar-item" id="sesion1">
                </li>
                <li class="navbar-item" id="sesion">
                </li>
                <li class="navbar-item" id="perfil">
                </li>
                <li class="navbar-item" id="sesion-cerrar">
                </li>
                <li class="navbar-item" id="registro">
                </li>
            </ul>
        </nav>
        <div id="error">
            <p id="Titulo"> ERROR </p>
            <p>Aún no es tu turno, vuelve a intentarlo más adelante</p>
            <a href="juego.html" id="boton_reintentar">Reintentar</a>
        </div>
        <script src="../../views.js"></script>
    </body>
</html>