<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DNTgames | Espera</title>
    <link rel="stylesheet" type="text/css" href="../assets/styles/espera_partida.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>
  <body>
    <nav class="navbar">
      <a class="navbar-logo" href="../../index.html">DNTgames</a>
      <ul class="navbar-items">
        <li class="navbar-item">
          <a href="../../index.html#nosotros" class="navbar-link navbar-link">Nosotros</a>
        </li>
        <li class="navbar-item" id="sesion1">
        </li>
        
        <li class="navbar-item" id="sesion">
        </li>
        <li class="navbar-item" id="perfil">
        </li>
        <li class="navbar-item" id="sesion-cerrar">
        </li>
        <li class="navbar-item" id="registro">
        </li>
      </ul>
    </nav>
    <div class="wrapper">

      <div class="titulo">
        <img class="f21" src="../assets/imgs/clock.PNG" />
        <img class="f14" src="../assets/imgs/clock.PNG" /> 
        Esperando a los demás jugadores...
      </div>
      <img class="f15" src="../assets/imgs/clock.PNG" />
      <img class="f16" src="../assets/imgs/clock.PNG" />
      <img class="f17" src="../assets/imgs/clock.PNG" />
      <img class="f18" src="../assets/imgs/clock.PNG" />
      <img class="f19" src="../assets/imgs/clock.PNG" />
      <img class="f20" src="../assets/imgs/clock.PNG" />
      <img class="f21" src="../assets/imgs/clock.PNG" />
      
      <div class="jugadores-listos">
        <div class="jugador">
          Jugadores Listos!! 
        </div>

        <!--
        <div class="j"></div>
        <div class="j">username_22</div>
        <div class="j">username_3</div>
        <div class="j">username_44</div>-->
      </div>
      <div class="tiempo">
       
        
        <div class="jugador">
          ID Partida:
        </div>
        <div class="j" id="ID">
        </div>
        
        <div class="jugador">
          Tiempo:
        </div>
        <div class="j" id="time_espera">
        </div>
      </div>
      <a class="boton_personal" href="../../index.html">ABANDONAR</a>
    </div>
    <script src="../assets/scripts/espera_partida.js"></script>
  </body>
</html>