<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DNTgames | Ingresar</title>
    <link rel="stylesheet" type="text/css" href="../assets/styles/ing_part_publica.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>
  <body>
    <nav class="navbar">
      <a class="navbar-logo" href="../../index.html">DNTgames</a>
      <ul class="navbar-items">
        <li class="navbar-item">
          <a href="../../index.html#nosotros" class="navbar-link navbar-link">Nosotros</a>
        </li>
        <li class="navbar-item" id="sesion1">
        </li>
        
        <li class="navbar-item" id="sesion">
        </li>
        <li class="navbar-item" id="perfil">
        </li>
        <li class="navbar-item" id="sesion-cerrar">
        </li>
        <li class="navbar-item" id="registro">
        </li>
      </ul>
    </nav>
    <div class="wrapper">

      <img class="foto" src="../assets/imgs/nave.PNG" />
      <div class="titulo">
        Unete a una partida...
      </div>
      <div class="cuadro">
        Estas en Partida Pública
        escoge alguna de las partidas
        disponibles o vuelve atrás y 
        crea tu propia partida.
      </div>
      <div class="partidas">
        <ul class="navbar-items">
          <li class="navbar-item" id="anfitrion">
            <div class="partida" >
              Anfitrión partida
            </div>
            <div id="anfitriones"></div>
            <!--
            <div class="p" id="p11">username</div>
            <div class="p" id="p22"></div>
            <div class="p" id="p33"></div>
            <div class="p" id="p44"></div>
            <div class="p" id="p55"></div>
            <div class="p" id="p66"></div>
            <div class="p"></div>
            <div class="p"></div>-->
        
          </li>
          <li class="navbar-item" id="max_jug">
            <div class="partida2">
              Max Jugadores
            </div>
            <div id="numero-jugadores"></div>
            <!--
            <div class="p2"></div>
            <div class="p2"></div>
            <div class="p2"></div>
            <div class="p2"> </div>
            <div class="p2"></div>
            <div class="p2"></div>
            <div class="p2"> </div>
            <div class="p2"></div>
            <div class="p2"></div>
            <div class="p2"></div>
            <div class="p2"></div>-->
          </li>
          <li class="navbar-item" id="botones">
            <div class="partida2">
              Unirse
            </div>
            <div id="unirse"></div>
            <!--
            <div class="p2">
              <button  class="boton_personal" >entrar</button>
            </div> -->
            <!--
            <div class="p2">
              <a class="boton_personal" href="espera_partida.html">entrar</a>
            </div>
            <div class="p2"> <a class="boton_personal" href="espera_partida.html">entrar</a></div>
            <div class="p2"></div>
            <div class="p2"></div>
            <div class="p2"> </div>
            <div class="p2"></div>
            <div class="p2"></div>
            <div class="p2"></div>
            <div class="p2"></div>
            <div class="p2"></div>-->
          </li>
        </ul>

      </div>
    </div>
    <script src="../assets/scripts/ing_part_publica.js"></script>
    <!--<script src="../../views.js"></script> -->
  </body>
</html>