
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DNTgames | Ingresar</title>
    <link rel="stylesheet" type="text/css" href="../assets/styles/ing_partida_priv.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>
  <body>
    <nav class="navbar">
      <a class="navbar-logo" href="../../index.html">DNTgames</a>
      <ul class="navbar-items">
        <li class="navbar-item">
          <a href="../../index.html#nosotros" class="navbar-link navbar-link">Nosotros</a>
        </li>
        <li class="navbar-item" id="sesion1">
        </li>
        
        <li class="navbar-item" id="sesion">
        </li>
        <li class="navbar-item" id="perfil">
        </li>
        <li class="navbar-item" id="sesion-cerrar">
        </li>
        <li class="navbar-item" id="registro">
        </li>
      </ul>
    </nav>
     <div class="wrapper">
      <div class="foto">
        <img id="foto" src="../assets/imgs/nave.PNG" />
      </div>
      <div class="titulo">
        Unete a una partida privada...
      </div>
      <div class="columna-izq">
        Haz ingresado a Partida Privada
        Ingresa el id de la partida o vuelve atras y crea tu propia partida.
      </div>
      <div class="partidas">
        <div class="partidas-titulo">
          Partida Privada:
        </div>
        <div class="login">
         <form>
            <input type="text" id="id" placeholder="ID de partida" required="required" />
            <div id="mensaje"></div>
            <button type="submit"  class="btn btn-primary btn-block btn-large">Ingresar</a> <!-- Cambiar type a submit prox entrega -->
            
          </form>
      </div>
      </div>
  </div>
  <script src="../assets/scripts/ing_part_privada.js"></script>
  </body>
</html>