<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DNTgames | Jugadores</title>
    <link rel="stylesheet" type="text/css" href="../assets/styles/mejores_jugadores.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>
  <body>
    <nav class="navbar">
      <a class="navbar-logo" href="../../index.html">DNTgames</a>
      <ul class="navbar-items">
        <li class="navbar-item">
          <a href="../../index.html#nosotros" class="navbar-link navbar-link">Nosotros</a>
        </li>
        <li class="navbar-item" id="sesion1">
        </li>
        
        <li class="navbar-item" id="sesion">
        </li>
        <li class="navbar-item" id="perfil">
        </li>
        <li class="navbar-item" id="sesion-cerrar">
        </li>
        <li class="navbar-item" id="registro">
        </li>
      </ul>
    </nav>
    <div class="wrapper">
      <div class="div-foto">
        <img id="foto" src="../assets/imgs/guerrero.PNG"/>
      </div>
      <div class="columna-izq">
        <p class="cuadro">
          El top 10 de jugadores hístoricos
          corresponde a una lista en orden
          de decreciente de los 10 jugadores 
          con más partidas netas ganadas desde su 
          registro en DNTGames.
        </p>
      </div>
      <div class="titulo">
        <h3>
          <img class="guerra" src="../assets/imgs/guerrero.PNG"/>
          Top 10 de jugadores hístoricos...
        </h3>
      </div>
      <div class="jugadores-h">
        <ul class="navbar-items" >
          <li class="navbar-item" id="N">
            <div class="jugador">N° lugar</div>
            <!--
            <div class="j">1)</div>
            <div class="j">2)</div>
            <div class="j">3)</div>
            <div class="j">4)</div>
            <div class="j">5)</div>
            <div class="j">6)</div>
            <div class="j">7)</div>
            <div class="j">8)</div>
            <div class="j">9)</div>
            <div class="j">10)</div>-->
            
          </li>

          <li class="navbar-item" id="U">
            <div class="jugador2">Usuario</div>
            <!--
            <div class="j2">Username11</div>
            <div class="j2">Username222</div>
            <div class="j2">Username3</div>
            <div class="j2">Username4</div>
            <div class="j2">Username55</div>
            <div class="j2">Username66</div>
            <div class="j2">Username77</div>
            <div class="j2">Username88</div>
            <div class="j2">Username99</div>
            <div class="j2">Username100</div> -->
          </li>
        
          <li class="navbar-item" id="P">
            <div class="jugador2">Partidas Netas Ganadas</div>
            <!-- 
            <div class="j2"> 150</div>
            <div class="j2"> 149</div>
            <div class="j2"> 148</div>
            <div class="j2"> 147</div>
            <div class="j2"> 146</div>
            <div class="j2"> 145</div>
            <div class="j2"> 144</div>
            <div class="j2"> 143</div>
            <div class="j2"> 142</div>
            <div class="j2"> 141</div> --> 
          </li>
        </ul>
      </div>
    </div>
    <script src="../assets/scripts/mejores_jugadores.js"></script>
  </body>
</html>