<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DNTgames | Novedades</title>
    <link rel="stylesheet" type="text/css" href="../assets/styles/novedades.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>
  <body>
    <nav class="navbar">
      <a class="navbar-logo" href="../../index.html">DNTgames</a>
      <ul class="navbar-items">
        <li class="navbar-item">
          <a href="../../index.html#nosotros" class="navbar-link navbar-link">Nosotros</a>
        </li>
        <li class="navbar-item" id="sesion1">
        </li>
        
        <li class="navbar-item" id="sesion">
        </li>
        <li class="navbar-item" id="perfil">
        </li>
        <li class="navbar-item" id="sesion-cerrar">
        </li>
        <li class="navbar-item" id="registro">
        </li>
      </ul>
    </nav>
<div class="wrapper">
  <div class="columna-izq">
      <img id="icon" src="../assets/imgs/megaphone.svg" alt="novedades"/>
  </div>
  <div class="nuevos_jugadores">
      <h4 class="novedades"> Novedades...</h4>
  </div>
  <div class="primera">
    <!--
      <div id="primera-titular-0">
        <h4 class="titulares">
          Cambios en jugadores hístoricos
        </h4>

        <p>
          <img class="imgRedonda" src="../assets/imgs/megaphone.svg"/>
          "el username usuario x" paso a la posición 2° adelante al jugador
          hítorico "username del usuario y" que"
        </p>
      </div>-->
    <!--
      <div id="primera-titular-2">
        <h4 class="titulares">
          Conquistador del día!
        </h4>
        <p>
          <img class="imgRedonda" src="../assets/imgs/megaphone.svg"/>
          "el username usuario x".
        </p>
      </div>
      <div id="primera-titular-3">
        <h4 class="titulares">
          Nuevos Ranking!
        </h4>
        
        <p>
          <img class="imgRedonda" src="../assets/imgs/megaphone.svg"/>
          "el username usuario x" paso a ser parte del rankig 6.
        </p>
      </div>-->
  </div>
  <script src="../assets/scripts/novedades.js"></script>
  </body>
</html>