<h1>El Grupo se ha creado con éxito</h1>
<div>
<p><b>Curso:</b> <%= @study_group.course.sigla %> </p>
</div>
<div>
<p><b>Sala de Estudio:</b> <%= @study_group.study_room.name %> </p>
</div>
<div>
<p><b>Máximos participantes:</b> <%= @study_group.max %> </p>
</div>
<div>
<p><b>Duración:</b> <%= @study_group.duration %> </p>
</div>
